{% extends 'reservations/base.html' %}
{% block page-title %}
Molveno Reservations
{% load static %}
{% endblock %}

{% block content %}
<p>Make your reservation:</p>

<form name="people" method="POST" action="{% url 'reservations:index' %}">
  {% csrf_token %}

  <div class="form-row" id="personal-details-1">

    <div class="col-md-2 mb-3">
      <input name="first_name" id="first_name" type="text" class="form-control" placeholder="First name">
    </div>

    <div class="col-md-2 mb-3">
      <input name="last_name" id="last_name"  type="text" class="form-control" placeholder="Last name">
    </div>

  </div>

  <div class="form-row" id="personal-details-2">

    <div class="col-md-2 mb-3">
      <input name="email" id="email" type="text" class="form-control" placeholder="E-mail">
    </div>

    <div name="phone" class="col-md-2 mb-3">
      <input name="phone" id="phone" type="tel" class="form-control" placeholder="Phone number">
    </div>

  </div>


  <div class="form-row" id="reservation-form">
    <div class="col-md-2 mb-3">
      <select name="people" class="form-control form-control-mb-2" id="num-people">
        <option value="1">1 person</option>
        <option value="2" selected>2 people</option>
        <option value="3">3 people</option>
        <option value="4">4 people</option>
        <option value="5">5 people</option>
        <option value="6">6 people</option>
        <option value="7">7 people</option>
        <option value="8">8 people</option>
        <option value="9">9 people</option>
        <option value="10">10 people</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-2 mb-3">
      <input name="date" id="datepicker" class="form-control-mb-2" width="160" />
    </div>

  </div>

  <div class="form-row">
    <div class="col-auto mb-3">
      <select name="time-hour" class="form-control form-control-mb-2" id="time-hour-picker">
      </select>
    </div>

    <div class="col-auto mb-3">
      <select name="time-minutes" class="form-control form-control-mb-2" id="time-minutes-picker">
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input name="remark" id="remark" type="text" class="form-control" placeholder="Remark (optional)" />
    </div>
  </div>

  <div class="form-row">
    <div class="col-auto mb-3">
      <input type="submit" name="reservation_check" class="btn btn-primary" value="Check availability"/>
    </div>
  </div>


  {{ response }}
  {% if page_action %}
  {% endif %}
  <br />
  <br />
  <div class="form-row" id="booking_confirmation" style="display:none">
    <div class="col-auto mb-3">
      <input type="submit" name="reservation_confirmation" value="Confirm booking" class="btn btn-success" action="{% url 'reservations:index' %}" />
    </div>
  </div>
</form>

<script src="{% static 'reservations/js/ReservationTimeViewManager.js' %}"></script>
<script>

function updateTimeForm(){
  if(datepicker != undefined) {
    var rm = new ReservationTimeViewManager(new Date(), 12, 21);
    var d = new Date(datepicker.val());
    var currDate = new Date();
    if(d.getDate() == currDate.getDate() &&
    d.getMonth() == currDate.getMonth() &&
    d.getFullYear() == currDate.getFullYear()) {
      //console.log('same day selected');
      d.setHours(currDate.getHours());
      d.setMinutes(currDate.getMinutes());
    } else{
      //console.log('other day selected');
      d.setHours(0);
      d.setMinutes(0);
    }
    rm.updateTime(d);
    h = rm.getNextHoursAsHTML();
    m = rm.getNextMinutesAsHTML();
    d = rm.getDisplayDate();
    $("#time-hour-picker" ).html(h);
    $("#time-minutes-picker").html(m);
    //console.log("selected date: ")
  }
}

Date.prototype.ddmmmyyyy = function() {
  const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];

var dd = this.getDate();
var mm = monthNames[this.getMonth()].substr(0,3);

return [(dd>9 ? '' : '0') + dd, mm,this.getFullYear()].join(' ');
};

var today, maxDate, datepicker;
today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
oneMonthLater = new Date(new Date().getFullYear(), new Date().getMonth()+1, new Date().getDate());
datepicker = $('#datepicker').datepicker({
  uiLibrary: 'bootstrap4',
  minDate: today,
  maxDate: oneMonthLater,
  format: 'dd mmm yyyy',
  value: today.ddmmmyyyy(),
  select: function (e) {
    updateTimeForm();
  },
  change: function(e) {
    updateTimeForm();
  }
});

updateTimeForm();


var first_name = "{{first_name}}";
var last_name = "{{last_name}}";
var email = "{{email}}";
var phone = "{{phone}}";
var email_valid = "{{email_valid}}"

var selected_num_people = "{{selected_num_people}}";
var selected_date = "{{selected_date}}";
var selected_time_hours = "{{selected_time_hours}}";
var selected_time_minutes = "{{selected_time_minutes}}";
var remark = "{{remark}}";

if(first_name) document.getElementById('first_name').value = first_name;
if(last_name) document.getElementById('last_name').value = last_name;
if(email) document.getElementById('email').value = email;
if(phone) document.getElementById('phone').value = phone;


if(selected_num_people) document.getElementById('num-people').value = selected_num_people;
if(selected_date) document.getElementById('datepicker').value = selected_date;
if(selected_time_hours) document.getElementById('time-hour-picker').value = selected_time_hours;
if(selected_time_minutes) document.getElementById('time-minutes-picker').value = selected_time_minutes;
if(remark) document.getElementById('remark').value = remark;
console.log("email valid?"+email_valid)
if(email_valid == "True"){
  //document.getElementById('email').value = email in django template language;
} else {
  //show error in bootstrap
}

console.log()

var next_action = "{{page_action}}"
console.log("next action "+next_action)

if(next_action == "request_booking_confirmation") {
  document.getElementById('booking_confirmation').style.display = "block";
} else if (next_action == "") {
  //when it's another action
}

</script>


<br />
{% endblock %}
