{% extends 'restaurant/base.html' %}
{% block header-text-left %}
Molveno
{% endblock %}

{% block header-text-right %}
Welcome, admin!
{% endblock %}

{% block page-title %}
  {{title}}
{% endblock %}
{% block content-left %}
<table class="table">
  <caption> {{table_title}} </caption>
  <tbody>
    {% for m in table %}
    <tr class="d-flex">

      <th scope="row">{{ m.name }}</th>
      <td>
        edit
      </td>
      <td>
        delete
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block content-right %}
[more]<br />
{% endblock %}
