{% extends 'restaurant/base.html' %}
<!-- <div style="margin:auto; width:80%"> -->
{% block content %}
    <div class="text-right">
      <div class="molvenobrush text-medium"> Table number: {{table_id}}</div>
      <a href="{% url 'restaurant:orders' %}">My orders</a>
    </div>
      <h1 class="molvenobrush">MenuCard</h1>
      <div id="menu-items">
        {% for course in menucard_list %}
          {% if course %}
            <div class="no-bullets"><h2 class="molvenobrush">{{ course.0.menu_item.course_type }}</h2></div>
              <ul>
                {% for dish in course %}
                  <li class="no-bullets">
                    <h3 class="molvenobrush">
                      <a href="{% url 'restaurant:menu_item' dish.menu_item.id %}">{{ dish.menu_item.name }}</a>
                      <span> €{{dish.selling_price}}</span>
                    </h3>
                    <p class="menu-description">{{dish.menu_item.description}}</p>
                  </li>
                {% endfor %}
              </ul>
          {% endif %}
        {%empty%}
          <li>No menu items.</li>
      {%endfor%}
    </div>

    <div id="menus">
      <li class="no-bullets"> <h2 class="molvenobrush">Menus</h2></li>
      <div id="try">
        <ul>
        {% for key,value in menu_courses.items %}
          <li class="no-bullets">
          <h3 class="molvenobrush">
          <span>{{ key.menu.name }}</span>
          <span> €{{key.selling_price}}</span></li></h3>
          <ul>
            {% for v in value%}
              <li class="no-bullets">
                {{v}}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
