{% extends 'restaurant/base.html' %}

{% block content %}

<h1>My orders for table {{table_id}}:</h1>
<div class='orderform'>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if orders %}
  <form action="{% url 'restaurant:orders' %}" method="POST">
  {% csrf_token %}
    <p>
      <table>
        {% for field in form %}
          <tr>
            <div class="fieldWrapper">
                {{ field.errors }}
                <td style="float: right;">{{ field }}x</td><td>{{ field.label }}</td>
                {% if field.help_text %}
                <td>€{{ field.help_text|safe }}</td>
                {% endif %}
            </div>
          </tr>
        {% endfor %}
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td></td><td><b style="float: right;">total:</b></td><td><b>€{{total}}</b></td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td><input type="submit" value="place order" style="float: right;"/></td>
          <td><i>or </i><a href="{% url 'restaurant:menucard' table_id %}">order more</a></td>
        </tr>
      </table>
    </p>
  </form>
  {% endif %}
  <p><br />
  <p><b>Placed orders for your table:</b></p>
  {% if placed_orders %}
    <table style="float: right;">
        {% for item, attributes in placed_orders.items %}
          <tr>
            <td>{{attributes.amount}}x {{item}}</td><td style="text-align: right;">€{{attributes.selling_price}}</td>
          </tr>
        {% endfor %}
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td style="float: right;"><b>total:</b></td><td style="text-align: right;"><b>€{{total_pice}}</b></td>
      </tr>
    </table>
  {% else %}
  <ul>
    <li>No orders placed yet!
  </ul>
  {% endif %}
  </p>
</div>
<p><a href="{% url 'restaurant:menucard' table_id %}"><i>back to menu</i></a></p>
{% endblock %}
