{% extends 'restaurant/base.html' %}

{% block content %}

<h1>My orders for table {{table_id}}:</h1>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if orders %}
  <form action="{% url 'restaurant:orders' %}" method="POST">
    {% csrf_token %}
    <div class='orderform'>
      <p><table>
          {{ form.as_table }}
      </table></p>
      <a href="{% url 'restaurant:menucard' table_id %}" style="padding-left:1.5em">order more <i>or</i></a><input type="submit" value="place order" style="float: right;"/>
    </div>
  </form>
{% endif %}
<p>
<p><b>Placed orders for your table:</b></p>
{% if placed_orders %}
<ul>
  {% for item, amount in placed_orders.items %}
  <li>{{amount}}x {{item}}
  {% endfor %}
</ul>
{% endif %}
</p>
  <a href="{% url 'restaurant:menucard' table_id %}" style="padding-left:1.5em"><i>back to menu</i></a>

{% endblock %}
