{% extends 'restaurant/base.html' %}

{% block content %}

<h1>My orders for table {{table_id}}:</h1>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if orders %}
  <form action="{% url 'restaurant:orders' %}" method="POST">
    {% csrf_token %}
    <div class='orderform'>
      <p><table>
          {{ form.as_table }}
      </table></p>
      <a href="{% url 'restaurant:menucard' table_id %}">order more <i>or</i></a><input type="submit" value="place order" style="float: right;"/>
    </div>
  </form>
{% endif %}
<p><br />
<p><b>Placed orders for your table:</b></p>
{% if placed_orders %}
  <table>
    <ul>
      {% for item, attributes in placed_orders.items %}
        <tr>
          <td><li>{{attributes.amount}}x {{item}}</td><td style="text-align: right;">€{{attributes.selling_price}}</td>
        </tr>
      {% endfor %}
    </ul>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><b>total:</b></td><td style="text-align: right;"><b>€{{total_pice}}</b></td>
    </tr>
  </table>
{% else %}
<ul>
  <li>No orders placed yet!
</ul>
{% endif %}
</p>

<a href="{% url 'restaurant:menucard' table_id %}"><i>back to menu</i></a>

{% endblock %}
