{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Molveno Lakeside Restaurant</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'restaurant/style/base.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="header">

    <div class="col-md-10 no-padding" id="header-left">
      <div class='molvenobrush'>Molveno Lake Resort</div>
      {% block header-text-left %}
      {% endblock %}
    </div>
    <div class="col-md-2 no-padding" id="header-right">
      <img class='logo-img' img src="/static/restaurant/images/Logo.jpg" alt="logo" />
      {% block header-text-right %}
      {% endblock %}
    </div>

  </div>

{% block content %}
  <h3 class="molvenobrush main-content">Your waiter will be with you shortly!</h3>
{% endblock %}

</body>
</html>
